<html>
    <head>
        <title>
            Taschenrechner
        </title>
    </head>
    <body>
        <h1>
            Einfacher Taschenrechner
        </h1>        

        <form action="/calc" method="POST">
            <label>
                Erste Zahl
            </label>
            <input name="zahl1" type="number">
            
            <br>
            
            <label>
                Zweite Zahl
            </label>
            <input name="zahl2" type="number">
            
            <br>
            
            <input name="submit" type="submit" value="Plus">
            <input name="submit" type="submit" value="Minus">
            <input name="submit" type="submit" value="Mal">
            <input name="submit" type="submit" value="Geteilt">

        </form>
    </body>   
</html>